@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Learn2Learn</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|News+Cycle" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="navbar navbar-fixed-top" id="flip">
            <div class="row">
                <div class="col-md-2 text-center">
                    <a class="brand" href="~/home">
                        <img src="~/Content/images/L2L Brand.png" width="30" height="50" alt="Learn2Learn" />
                    </a>
                </div>
                <div class="col-md-8 menu">
                    <span>Menu</span>
                </div>
                <div class="col-md-2 text-center">@Html.Partial("_LoginPartial")</div>
            </div>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse pane">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse pane collapse">
            <ul class="nav navbar-nav pane">
                <li>@Html.ActionLink("Assessment", "Create", "Results")</li>
                <li>@Html.ActionLink("Resources", "Resources", "Home")</li>
                <li>@Html.ActionLink("MyProfile", "Index", "Results")</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Learn2Learn- Creative Commons Copywrite</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/UserScripts")
    @RenderSection("scripts", required: false)
</body>
</html>
